POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow
NY_TAXI_DB_NAME=ny_taxi
# chave compartilhada entre webserver e scheduler p leitura de logs  eevita 403
AIRFLOW_SECRET_KEY=tlc_taxi_shared_secret_key
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin
_AIRFLOW_WWW_USER_EMAIL=admin@example.com
_AIRFLOW_WWW_USER_FIRSTNAME=admin
_AIRFLOW_WWW_USER_LASTNAME=admin
_AIRFLOW_WWW_USER_ROLE=Admin
