.env
data/
*.parquet
logs/

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

.ipynb_checkpoints
*/.ipynb_checkpoints/*


dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
dbt_project/.user.yml

.vscode/
.idea/
*.swp
*.swo